@charset"utf-8";

/*메인슬라이더*/
.mainSlider{}
.mainSlider img{
    width:100%;
    display:block;
}
.mainSlider a{display:block;}

/*메인슬라이더*/

/*con01*/
.mainCon01{
    position:relative;
    text-align:center;
    margin-top:20%;
}

.mainCon01:last-child{margin-top:0;}

.mainCon01 h2{margin-bottom:20px;}
.mainCon01 img{
    position:relative;
    display:inline-block;
}
.mainCon01 h4{
    padding-top:20px;
    padding-left:27%;
    display:inline-block;
    font-size:13px;
    text-align:left;
}
.mainCon01 p{
    padding-left:130px;
    padding-top:10px;
    font-size:12px;
    display:inline-block;
}

.con01Sns{
    display:block;
    padding-left:28%;
    padding-top:10px;
}
.con01Sns li{
    float:left;
    padding-right:10px;
    
}

.con01Sns img{
    padding-top:5px;
    display:block;
    display:block;
    
}
.con01SnsT{
    display:block;
    text-align:left;
}

.con01Txt{}
.con01Txt p{
    padding-left:0;
    padding-top:20%;
}
.con01Txt li{}
.con01Txt li span{font-weight:bold;}

.con01insta{
    position:relative;
    margin-top:50px;
    margin-top:50px;
    float:left;
    padding-left:30%;
}
.con01insta img{}
.con01insta h4{
    margin-left:9px;
    font-size:14px;
    position:absolute;
    top:20px;
}
.con01insta p{}

/*con01*/



.mainCon02{
    margin-top:280px;
    background:#01570d;
    position:relative;
}
.mainCon02 li{
    text-align:center;
    font-size:15px;
    padding-top:25px;
    color:#90ff9f;
    font-weight:bold;
}
.mainCon02 p{
    color:#fff830;
    font-size:11px;
    padding:5%;
    padding-left:37%;
}
.con02ITxt{
}


.mainCon02>img{
    padding-bottom:150px;
}


.con02ITxt{
    position:absolute;
    text-align:center;
    bottom:0;
    right:62%;
    font-size:13px;
    padding-bottom:20%;
}
.con02ITxt h3{
    padding:0,15px,12px,0;
}
.con02ITxt span{
    display:block;
}

.mainCon02 span img{
    position:absolute;
    right:0;
    bottom:0;
}

.mainCon03{
    position:relative;
    text-align:center;
    margin-top:550px;
    margin-bottom:320px;
}

.con03Txt{
    position:absolute;
    top:30%;
    left:20%;
    font-size:14px;
}

.mainCon03 h5{}
.mainCon03 h5 span{
    display:block;
    padding-top:10px;
    
}
.mainCon03 h5 p{padding-top:10px;}

..mainCon03 img:nth-child(2){}

.con03Txt p img{
    position:absolute;
    right:-110px;
    top:0;
}
